.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  align-items: center;
  flex: 3 1 30rem;
  background: rgba(32, 30, 51, 0.753);
  margin: 0rem 27rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px #000;
  color: whitesmoke;
  max-height: 50rem;
  text-align: center;
  align-self: center;
}

.item h2 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px dashed rgba(230, 230, 230, 0.185);
  padding-bottom: 0.7rem;
  margin-bottom: 2rem !important;
}

.item p {
  font-size: 1.3rem;
}

.item div p:nth-of-type(1) {
  font-size: 1.4rem;
  font-weight: bold;
}

.item div {
  padding: 0.4rem;
}

@media screen and (max-width: 1235px) {
  .item {
    margin: 0rem 15rem;
  }
}

@media screen and (max-width: 835px) {
  .item {
    margin: 0rem 5rem;
  }
}

@media screen and (max-width: 700px) {
  .item {
    margin: 0rem 2rem;
  }
}

@media screen and (max-width: 525px) {
  .item {
    margin: 3rem 3rem;
  }

  .item img {
    height: 10rem !important;
    width: auto;
  }
}
