.shopContainer {
  min-height: 92vh;
  background: linear-gradient(
      0deg,
      rgba(20, 60, 190, 0.836),
      rgba(8, 6, 43, 0.856)
    ),
    url(../assets/home.jpg);
  background-size: cover;
}

.shopContainer h1 {
  color: rgba(255, 255, 255, 0.911);
  padding: 1.3rem;
  padding-top: 3rem;
  padding-left: 6rem;
  text-align: Left;
  font-size: 2.5rem;
  font-weight: 600;
}

.shopContainer :nth-child(1) {
  max-width: 144rem;
  margin: 0 auto;
}

.shop nav {
  border-right: 1px solid #000;
  padding-left: 6rem;
}
.shop {
  display: flex;
  max-height: 90vh;
  max-width: 144rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.shop nav {
  overflow-y: scroll;
  list-style: none;
  max-height: 70vh;
  flex: 1 1 20rem;
}
.shop :nth-child(2) {
  flex: 2 1 70rem;
}

.shop ul li {
  list-style: none;
  padding: 0.7rem;
}

.shop ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.4s ease-out;
  list-style: none;
}

.shop ul li a:visited {
  text-decoration: none;
  color: #fff;
}

.shop ul li a.active {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 4px;
  font-size: 1.9rem;
}

.shop ul li a:hover {
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 4px;
  font-size: 1.8rem;
}
