.shopContainer {
  min-height: 92vh;
}

.shopContainer h1 {
  color: rgba(255, 255, 255, 0.911);
  padding: 1.3rem;
  padding-top: 3rem;
  padding-left: 6rem;
  text-align: Left;
  font-size: 2.5rem;
  font-weight: 600;
}

.shopContainer :nth-child(1) {
  max-width: 144rem;
  margin: 0 auto;
}

.shop nav {
  padding-left: 6rem;
}
.shop {
  display: flex;
  max-height: 90vh;
  max-width: 144rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shop nav {
  overflow-y: scroll;
  list-style: none;
  max-height: 70vh;
  flex: 1 1 40rem;
}

.shop ul li {
  list-style: none;
  padding: 0.7rem;
}

.shop ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.4s ease-out;
  list-style: none;
}

.shop ul li a:visited {
  text-decoration: none;
  color: #fff;
}

.shop ul li a:hover {
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 4px;
  font-size: 1.8rem;
}

.shop ul li a.active {
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.459);
}

.shop ul li a.active::after {
  color: white;
  content: "     >>";
  font-size: 1.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b6c4e6e3;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(49, 52, 73, 0.712);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1025px) {
  .shop nav {
    flex-basis: 20rem;
  }
}

@media screen and (max-width: 525px) {
  .shop nav {
    height: 20vh;
  }

  .shopContainer h1 {
    color: rgba(255, 255, 255, 0.911);
    padding: 1.1rem;
    padding-top: 2rem;
    padding-left: 6rem;
    text-align: Left;
    font-size: 2.3rem;
    font-weight: 600;
  }
}
