.nav {
  min-height: 8vh;
  justify-content: space-around;
  background-color: rgb(31, 31, 51);
  font-size: 1.4rem;
}
.nav nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 144rem;
  width: 90%;
}

.nav h1 {
  flex: 4 1 47rem;
  font-weight: normal;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 42rem;
}

.nav .navLink {
  list-style: none;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease-out;
  font-size: 1.6rem;
}

.active {
  list-style: none;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

/* Media Query */
@media screen and (max-width: 1024px) {
  .nav nav {
    text-align: center;
    padding-bottom: 1.7rem;
  }
  .nav h1 {
    padding: 1.2rem;
  }
}
